.hide {
    display: none;
}
body { background-color: black;color: white;font-family: Arial, sans-serif; display: flex; justify-content: center; padding-top: 50px; height: 75vh; margin: 0; }
#game-container { background: #222; color: white; border: 1px solid #444; padding: 10px; border-radius: 8px; box-shadow: 0 4px 15px rgba(0,0,0,0.5); width: 350px; text-align: center; }
#question {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.2rem; /* Optional: shrink text slightly if it's too tall */
}
button { display: block; width: 100%; margin: 10px 0; padding: 10px; cursor: pointer; }
